gradio==5.20.1
torch
tqdm==4.66.1
safetensors==0.4.2
numpy==1.26.2
accelerate==0.31.0
diffusers==0.31.0
transformers==4.46.1
pandas
matplotlib
dadaptation==3.2
prodigyopt
lycoris_lora
schedulefree
pytorch-optimizer
setuptools==69.5.1